################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Heda/FileContentIndex/3efe6030-32f7-4c4e-a754-6ed958fe907d.vsidx
/.vs/HDA/v17
/.vs
/HEDA_publisher/bin
/HEDA_publisher/obj
/HMBWPF/bin/Debug/net8.0-windows/Logs
/HMBWPF/obj/Debug/net8.0-windows/App.g.i.cs
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF.AssemblyInfo.cs
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF.AssemblyInfoInputs.cache
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF.assets.cache
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF.csproj.AssemblyReference.cache
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF.GeneratedMSBuildEditorConfig.editorconfig
/HMBWPF/bin/Debug/net8.0-windows/Logs
/HMBWPF/bin/Debug/net8.0-windows/HMBWPF.dll
/HMBWPF/bin/Debug/net8.0-windows/HMBWPF.exe
/HMBWPF/bin/Debug/net8.0-windows/HMBWPF.pdb
/HMBWPF/obj/Debug/net8.0-windows/ref/HMBWPF.dll
/HMBWPF/obj/Debug/net8.0-windows/refint/HMBWPF.dll
/HMBWPF/obj/Debug/net8.0-windows/apphost.exe
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF.AssemblyInfo.cs
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF.AssemblyInfoInputs.cache
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF.dll
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF.g.resources
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF.pdb
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF.sourcelink.json
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_bigt5cct_wpftmp.AssemblyInfo.cs
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_bigt5cct_wpftmp.AssemblyInfoInputs.cache
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_bigt5cct_wpftmp.assets.cache
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_bigt5cct_wpftmp.csproj.BuildWithSkipAnalyzers
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_bigt5cct_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_bigt5cct_wpftmp.GlobalUsings.g.cs
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_bigt5cct_wpftmp.sourcelink.json
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_gqrxdvg0_wpftmp.AssemblyInfo.cs
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_gqrxdvg0_wpftmp.AssemblyInfoInputs.cache
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_gqrxdvg0_wpftmp.assets.cache
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_gqrxdvg0_wpftmp.csproj.BuildWithSkipAnalyzers
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_gqrxdvg0_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_gqrxdvg0_wpftmp.GlobalUsings.g.cs
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_gqrxdvg0_wpftmp.sourcelink.json
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_i4t1twrb_wpftmp.AssemblyInfo.cs
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_i4t1twrb_wpftmp.AssemblyInfoInputs.cache
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_i4t1twrb_wpftmp.assets.cache
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_i4t1twrb_wpftmp.csproj.BuildWithSkipAnalyzers
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_i4t1twrb_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_i4t1twrb_wpftmp.GlobalUsings.g.cs
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_i4t1twrb_wpftmp.sourcelink.json
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_icvtzuzt_wpftmp.AssemblyInfo.cs
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_icvtzuzt_wpftmp.AssemblyInfoInputs.cache
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_icvtzuzt_wpftmp.assets.cache
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_icvtzuzt_wpftmp.csproj.BuildWithSkipAnalyzers
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_icvtzuzt_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_icvtzuzt_wpftmp.GlobalUsings.g.cs
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_icvtzuzt_wpftmp.sourcelink.json
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_jjjav2rb_wpftmp.AssemblyInfo.cs
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_jjjav2rb_wpftmp.AssemblyInfoInputs.cache
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_jjjav2rb_wpftmp.assets.cache
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_jjjav2rb_wpftmp.csproj.BuildWithSkipAnalyzers
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_jjjav2rb_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_jjjav2rb_wpftmp.GlobalUsings.g.cs
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_jjjav2rb_wpftmp.sourcelink.json
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_MarkupCompile.i.cache
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_MarkupCompile.i.lref
\/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_mglmkrwi_wpftmp.AssemblyInfo.cs
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_mglmkrwi_wpftmp.AssemblyInfoInputs.cache
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_mglmkrwi_wpftmp.assets.cache
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_mglmkrwi_wpftmp.csproj.BuildWithSkipAnalyzers
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_mglmkrwi_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_mglmkrwi_wpftmp.GlobalUsings.g.cs
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_mglmkrwi_wpftmp.sourcelink.json
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_rl2xsac0_wpftmp.AssemblyInfo.cs
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_rl2xsac0_wpftmp.AssemblyInfoInputs.cache
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_rl2xsac0_wpftmp.assets.cache
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_rl2xsac0_wpftmp.csproj.BuildWithSkipAnalyzers
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_rl2xsac0_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_rl2xsac0_wpftmp.GlobalUsings.g.cs
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_rl2xsac0_wpftmp.sourcelink.json
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_rxnkvevp_wpftmp.AssemblyInfo.cs
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_rxnkvevp_wpftmp.AssemblyInfoInputs.cache
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_rxnkvevp_wpftmp.assets.cache
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_rxnkvevp_wpftmp.csproj.BuildWithSkipAnalyzers
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_rxnkvevp_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_rxnkvevp_wpftmp.GlobalUsings.g.cs
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_rxnkvevp_wpftmp.sourcelink.json
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_urdpwa24_wpftmp.AssemblyInfo.cs
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_urdpwa24_wpftmp.AssemblyInfoInputs.cache
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_urdpwa24_wpftmp.assets.cache
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_urdpwa24_wpftmp.csproj.BuildWithSkipAnalyzers
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_urdpwa24_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_urdpwa24_wpftmp.GlobalUsings.g.cs
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_urdpwa24_wpftmp.sourcelink.json
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_wx0vnzcl_wpftmp.AssemblyInfo.cs
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_wx0vnzcl_wpftmp.AssemblyInfoInputs.cache
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_wx0vnzcl_wpftmp.assets.cache
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_wx0vnzcl_wpftmp.csproj.BuildWithSkipAnalyzers
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_wx0vnzcl_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_wx0vnzcl_wpftmp.GlobalUsings.g.cs
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_wx0vnzcl_wpftmp.sourcelink.json
/HMBWPF/obj/Debug/net8.0-windows/MainWindow.g.i.cs
/HedaModels/obj/Debug/net8.0/HedaModels.AssemblyInfoInputs.cache
/HedaModels/obj/Debug/net8.0/HedaModels.assets.cache
/HedaModels/obj/Debug/net8.0/HedaModels.csproj.AssemblyReference.cache
/HedaModels/obj/Debug/net8.0/HedaModels.GeneratedMSBuildEditorConfig.editorconfig
/HedaModels/obj/HedaModels.csproj.nuget.dgspec.json
/HedaModels/obj/HedaModels.csproj.nuget.g.props
/HedaModels/obj/project.assets.json
/HedaModels/obj/project.nuget.cache
/HMBWPF/obj/HMBWPF.csproj.nuget.dgspec.json
/HMBWPF/obj/HMBWPF.csproj.nuget.g.props
/HMBWPF/obj/project.assets.json
/HMBWPF/obj/project.nuget.cache
*.cs
/HDA_Publisher/HDA_Publisher.assets.cache
/HMBWPF/obj/Debug/net8.0-windows/MainWindow.baml
/HMBWPF/obj/Debug/net8.0-windows/MainWindow.g.cs
/HMBWPF/obj/Debug/net8.0-windows/MainWindow.g.i.cs
/HMBWPF/obj/Debug/net8.0-windows/MainWindow.baml
/HMBWPF/obj/Debug/net8.0-windows/MainWindow.baml
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF.g.resources
/HMBWPF/obj/Debug/net8.0-windows/MainWindow.baml
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF.g.resources
/HDA_Publisher/bin/AnyCPU/Debug
/HDA_Publisher/obj/Debug
/HDA_Publisher/obj/HDA_Publisher.wapproj.nuget.dgspec.json
/HDA_Publisher/obj/HDA_Publisher.wapproj.nuget.g.props
/HDA_Publisher/obj/HDA_Publisher.wapproj.nuget.g.targets
/HDA_Publisher/obj/project.assets.json
/HDA_Publisher/obj/project.nuget.cache
/HDA_Publisher/HDA_Publisher.wapproj
/HMBWPF/bin/Debug/net8.0-windows/HMBWPF.dll
/HMBWPF/bin/Debug/net8.0-windows/HMBWPF.exe
/HMBWPF/bin/Debug/net8.0-windows/HMBWPF.pdb
/HMBWPF/obj/Debug/net8.0-windows/ref/HMBWPF.dll
/HMBWPF/obj/Debug/net8.0-windows/refint/HMBWPF.dll
/HMBWPF/obj/Debug/net8.0-windows/App.g.cs
/HMBWPF/obj/Debug/net8.0-windows/apphost.exe
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF.csproj.CoreCompileInputs.cache
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF.dll
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF.g.resources
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF.genruntimeconfig.cache
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF.pdb
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF.sourcelink.json
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_inlkm1n2_wpftmp.AssemblyInfoInputs.cache
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_inlkm1n2_wpftmp.assets.cache
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_inlkm1n2_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_inlkm1n2_wpftmp.sourcelink.json
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_MarkupCompile.cache
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_MarkupCompile.lref
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_tonqqf3q_wpftmp.AssemblyInfoInputs.cache
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_tonqqf3q_wpftmp.assets.cache
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_tonqqf3q_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_tonqqf3q_wpftmp.sourcelink.json
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_y3wouovt_wpftmp.AssemblyInfoInputs.cache
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_y3wouovt_wpftmp.assets.cache
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_y3wouovt_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_y3wouovt_wpftmp.sourcelink.json
/HMBWPF/obj/Debug/net8.0-windows/MainWindow.baml
/HMBWPF/obj/Debug/net8.0-windows/MainWindow.g.cs
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_fxgi2apd_wpftmp.AssemblyInfoInputs.cache
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_fxgi2apd_wpftmp.assets.cache
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_fxgi2apd_wpftmp.csproj.BuildWithSkipAnalyzers
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_fxgi2apd_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_fxgi2apd_wpftmp.sourcelink.json
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_nbbnmbro_wpftmp.AssemblyInfoInputs.cache
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_nbbnmbro_wpftmp.assets.cache
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_nbbnmbro_wpftmp.csproj.BuildWithSkipAnalyzers
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_nbbnmbro_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_nbbnmbro_wpftmp.sourcelink.json
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_pyt1snvu_wpftmp.AssemblyInfoInputs.cache
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_pyt1snvu_wpftmp.assets.cache
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_pyt1snvu_wpftmp.csproj.BuildWithSkipAnalyzers
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_pyt1snvu_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_pyt1snvu_wpftmp.sourcelink.json
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_zrua5lts_wpftmp.AssemblyInfoInputs.cache
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_zrua5lts_wpftmp.assets.cache
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_zrua5lts_wpftmp.csproj.BuildWithSkipAnalyzers
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_zrua5lts_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_zrua5lts_wpftmp.sourcelink.json
/HMB/bin/Debug/net8.0/HMB.dll
/HMB/bin/Debug/net8.0/HMB.exe
/HMB/bin/Debug/net8.0/HMB.pdb
/HMB/obj/Debug/net8.0/ref/HMB.dll
/HMB/obj/Debug/net8.0/refint/HMB.dll
/HMB/obj/Debug/net8.0/apphost.exe
/HMB/obj/Debug/net8.0/HMB.AssemblyInfoInputs.cache
/HMB/obj/Debug/net8.0/HMB.csproj.FileListAbsolute.txt
/HMB/obj/Debug/net8.0/HMB.dll
/HMB/obj/Debug/net8.0/HMB.genruntimeconfig.cache
/HMB/obj/Debug/net8.0/HMB.pdb
/HMB/obj/Debug/net8.0/HMB.sourcelink.json
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_2dmppkub_wpftmp.AssemblyInfoInputs.cache
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_2dmppkub_wpftmp.assets.cache
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_2dmppkub_wpftmp.csproj.BuildWithSkipAnalyzers
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_2dmppkub_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_2dmppkub_wpftmp.sourcelink.json
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_e4d1ivhb_wpftmp.AssemblyInfoInputs.cache
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_e4d1ivhb_wpftmp.assets.cache
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_e4d1ivhb_wpftmp.csproj.BuildWithSkipAnalyzers
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_e4d1ivhb_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_e4d1ivhb_wpftmp.sourcelink.json
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_lzoeg5wf_wpftmp.AssemblyInfoInputs.cache
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_lzoeg5wf_wpftmp.assets.cache
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_lzoeg5wf_wpftmp.csproj.BuildWithSkipAnalyzers
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_lzoeg5wf_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_lzoeg5wf_wpftmp.sourcelink.json
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_mxwdo00l_wpftmp.AssemblyInfoInputs.cache
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_mxwdo00l_wpftmp.assets.cache
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_mxwdo00l_wpftmp.csproj.BuildWithSkipAnalyzers
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_mxwdo00l_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_mxwdo00l_wpftmp.sourcelink.json
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_ouqkv5sg_wpftmp.AssemblyInfoInputs.cache
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_ouqkv5sg_wpftmp.assets.cache
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_ouqkv5sg_wpftmp.csproj.BuildWithSkipAnalyzers
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_ouqkv5sg_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_ouqkv5sg_wpftmp.sourcelink.json
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_owqzealv_wpftmp.AssemblyInfoInputs.cache
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_owqzealv_wpftmp.assets.cache
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_owqzealv_wpftmp.csproj.BuildWithSkipAnalyzers
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_owqzealv_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_owqzealv_wpftmp.sourcelink.json
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_qpz42cz3_wpftmp.AssemblyInfoInputs.cache
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_qpz42cz3_wpftmp.assets.cache
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_qpz42cz3_wpftmp.csproj.BuildWithSkipAnalyzers
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_qpz42cz3_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_qpz42cz3_wpftmp.sourcelink.json
/HedaModels/obj/Debug/net8.0/HedaModels.sourcelink.json
/HedaModels/obj/Debug/net8.0/HedaModels.csproj.CoreCompileInputs.cache
/HMB/obj/Debug/net8.0/HMB.AssemblyInfo.cs
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_wb3osg54_wpftmp.AssemblyInfoInputs.cache
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_wb3osg54_wpftmp.assets.cache
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_wb3osg54_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF_wb3osg54_wpftmp.sourcelink.json
/HMBWPF/obj/HMBWPF_wb3osg54_wpftmp.csproj.nuget.dgspec.json
/HMBWPF/obj/HMBWPF_wb3osg54_wpftmp.csproj.nuget.g.props
/HMBWPF/obj/HMBWPF_wb3osg54_wpftmp.csproj.nuget.g.targets
/HMB/obj/Debug/net8.0/HMB.assets.cache
/HMB/obj/Debug/net8.0/HMB.GeneratedMSBuildEditorConfig.editorconfig
/HMB/obj/HMB.csproj.nuget.dgspec.json
/HMB/obj/HMB.csproj.nuget.g.props
/HMB/obj/project.assets.json
/HMB/obj/project.nuget.cache
/HMBWPF/obj
/HMBWPF/bin/Debug/net8.0-windows/HedaModels.dll
/HMBWPF/bin/Debug/net8.0-windows/HedaModels.pdb
/HedaModels/bin/Debug/net8.0/HedaModels.dll
/HedaModels/bin/Debug/net8.0/HedaModels.pdb
/HedaModels/obj/Debug/net8.0/ref/HedaModels.dll
/HedaModels/obj/Debug/net8.0/refint/HedaModels.dll
/HedaModels/obj/Debug/net8.0/HedaModels.dll
/HedaModels/obj/Debug/net8.0/HedaModels.pdb
/HedaModBusDataReader/obj
*.cache
*.so
*.dylib
*.dll
*.exe
*.pdb
/HMBWPF/bin/Debug/net8.0-windows/System.IO.Ports.dll
*.targets
*.props
*.a
*.json
/HMBWPF/bin/Debug/net8.0-windows/HMBWPF.deps.json
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF.designer.deps.json
/HMBWPF/obj/Debug/net8.0-windows/HMBWPF.csproj.FileListAbsolute.txt
/HMBWPF/bin/Debug/net8.0-windows/runtimes/linux-arm/native/libSystem.IO.Ports.Native.so
/HMBWPF/bin/Debug/net8.0-windows/runtimes/linux-arm64/native/libSystem.IO.Ports.Native.so
/HMBWPF/bin/Debug/net8.0-windows/runtimes/osx-arm64/native/libSystem.IO.Ports.Native.dylib
/HMBWPF/bin/Debug/net8.0-windows/runtimes/osx-x64/native/libSystem.IO.Ports.Native.dylib
/HMBWPF/bin/Debug/net8.0-windows/runtimes/linux-x64/native/libSystem.IO.Ports.Native.so
/HMBWPF/bin/Debug/net8.0-windows/runtimes/unix/lib/net7.0/System.IO.Ports.dll
/HMBWPF/bin/Debug/net8.0-windows/runtimes/win/lib/net7.0/System.IO.Ports.dll
/HMBWPFExternalTest/obj/Debug/net8.0-windows
/HMBWPFTest/bin/Debug/net8.0-windows/Logs
/HMBWPFTest/obj/Debug/net8.0-windows
/HDA_Publisher/bin/AnyCPU/Release
/HDA_Publisher/obj/Release
/HedaModels/obj/Release/net8.0
/HMBWPFExternalTest/obj/Release/net8.0-windows
/HMBWPFTest/obj/Release/net8.0-windows
/CertificateHavellsCSG.pfx
/HedaModBusDataReader/bin/Release
/HedaModels/obj/Debug/net8.0/HedaModels.csproj.FileListAbsolute.txt
/HDA_Publisher/bin/x86/Release
/HDA_Publisher/obj/x86/Release
/HDA_Publisher/BundleArtifacts
/HEDAUNitTesting
/UpgradeLog.htm
/TestResults/271fd2db-88fb-42f3-9a00-4f63336e81f9
/TestResults/3cb3d4f5-097c-4efb-bb75-a3a956528ee1
/TestResults
/HedaModBusDataReader/HedaModBusDataReader.csproj.user

